
.body-planes{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(153, 153, 153, 0.17), rgba(255, 255, 255, 0.667)), url(/media/gym-complejo-empresarial.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h2-planes{
    background-color: aqua;
    text-align: center;
    margin: 20px;
    border-radius: 13px;
    
}

.div-entrenamientos{
    text-align: center;
    background-color:rgba(215, 215, 215, 0.701) ;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 13px;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

}
.div-entrenamientos h2{
    font-size: 3em;
}

.div-entrenamientos p{
    font-size: 2em;
   

}
.div-entrenamientos a{
    font-size: 2em;
    background-color: blueviolet;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

.div-tarjetas{
    width: 100vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    display: flex;
    margin-top: 0;
    border-radius: 13px;
    background-color: rgba(233, 233, 233, 0);
}
.div-tarjetas img{
    width: 40%;
    margin: auto;
}

.div-tarjetas-grupales{
    width: 100vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    display: flex;
    margin-top: 0;
    border-radius: 13px;
    background-color: rgba(233, 233, 233, 0);
}
.div-tarjetas-grupales img{
    width: 100%;
    margin: auto;
    border-radius: 13px;
}
.article{
    background-color: rgb(215, 215, 215);
}



.footer-planes{
    margin-top: auto;
}

@media (max-width:508px){
    .div-entrenamientos a{
        font-size: 1.1em;
        
    }


}